extends layout
block content
    iframe#stats_content.uk-width-1-1(onload="resizeStats(this)")

block postscript
    script.
        $(document).ready( function() {
            $("#stats_content").attr("src", "statistics/#{statdir}/index.html");
        });

        function resizeStats(iframe) {
            iframe.height = iframe.contentWindow.document.body.scrollHeight + "px";
            $('div.uk-container.uk-container-center').attr("style", "max-width: 100%!important; padding: 15px 5px;");
        }
